{% extends 'base.html.twig' %}

{% block title %}Eco IT | A Propos {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-11 col-md-8 col-lg-6 mx-auto mt-4">
            <h1 class="text-center my-4 h2">A propos</h1>
            <p class="my-5 px-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat exercitationem quidem atque incidunt dolor quibusdam voluptatibus neque aliquid. Hic ratione dolore quasi qui aspernatur minima cum iure vero unde soluta perspiciatis officiis, aliquid odit nobis recusandae minus quisquam, nihil dolor rem, totam nemo. Dolorum, sunt libero dignissimos repellat, minus, accusamus distinctio maxime.
            </p>
            <img class="w-100  mx-auto px-1 px-lg-5" src="img/undraw_exams_g4ow.png" alt="etudiant">
            <p class="my-5 px-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat exercitationem quidem atque incidunt dolor quibusdam voluptatibus neque aliquid. Hic ratione dolore quasi qui aspernatur minima cum iure vero unde soluta perspiciatis officiis.
            </p>
        </div>
    </div>
</div>
{% endblock %}

