{% extends 'base.html.twig' %}

{% block title %}EcoIT | Des formations informatiques éco-responsables{% endblock %}

{% block body %}

<main>
    <div class="container position-relative mt-5">
        <div class="row">
            <div class="col-xl-6 col-12 d-flex  flex-column justify-content-center">
                <h1 class="mt-4 h2 mb-4 text-center text-lg-start">
                    Des Formations Informatiques éco-responsables
                </h1>
                <p>
                    <strong class="fw-normal"></strong>EcoIT est une plateforme pédagogique</strong> fondée en 2007.
                </p>
                <p>
                    Sur EcoIT, vous pouvez trouver <strong class="fw-normal">des cours en ligne</strong> gratuits
                    grâce auxquels vous pouvez développer vos compétences et vos connaissances dans le domaine du
                    développement informatique .
                </p>
            </div>
            <div class="col-xl-6 col-12">
                <img src="img/photo-croped.jpg" class="col-12 img-main" alt="">
            </div>
        </div>
    </div>


    <div class="container mt-5 px-3 px-lg-5">
        <div class="row">
            <div class="col-12 mb-5 d-flex justify-content-center align-items-center">
                <h2 class="text-center d-inline-block fs-4">
                    Nos dernières formations
                </h2>
            </div>

            {% for course in courses %}
            {% include "course/_card.html.twig" %}
            {% endfor %}

        </div>
    </div>
</main>

{% endblock %}